{% if 'grpc' in protocols %}
fn main() -> Result<(), Box<dyn std::error::Error>> {
    let manifest_dir = std::path::PathBuf::from(
        std::env::var("CARGO_MANIFEST_DIR").unwrap(),
    );
    tonic_prost_build::configure()
        .compile_protos(
            &[manifest_dir.join("../proto/{{ project_name | snake_case }}.proto")],
            &[manifest_dir.join("../proto")],
        )?;
    Ok(())
}
{% else %}
fn main() {}
{% endif %}
